[Unit]
Description=Check MiniCMS Studio publication queue

[Timer]
OnBootSec=30s
OnUnitInactiveSec=10s
AccuracySec=1s
Unit=studio-worker.service

[Install]
WantedBy=timers.target
